.first_page{
        font-family: "Raleway", sans-serif;
        background-color: hsla(184, 43%, 57%, 0.75);
        margin:0%;
}  
a:link {
  color: grey;
  text-decoration: none;
}
a:visited { 
  color: grey;
  text-decoration: none;
}
a:hover {
  color: grey;
}
a:active {
  color: grey;
  text-decoration: none;
}

.border{
        background-color: hsla(184, 43%, 57%, 0.75);
        height: 75px;
        margin:0%;
        color: white;
        padding: 5px;
        text-align: right;
        font-size: 16px;
}      

.space{
       height: 55px;
}

.main{
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-align: right;
        margin-top: 3%;
        padding: 10px;
        margin-left:25%;
        float: left;

}

.name{
       font-size:60px;
       font-weight:bold;
       color: white;
       text-align:right;
}

.quote{
       font-weight:light;
       color: white;
}

.sidebar{
     color: grey;
     margin-top: 75px;
     margin-left: 20px;
     padding: 20px;
     float: left;
     font-size: 16px;
}

a.sidebarlink:link{
  color:grey;
  text-decoration: none;
}

a.sidebarlink:visited{
  color:greye;
  text-decoration: none;
}

a.sidebarlink:hover{
  color:grey;
  text-decoration: none;
}

a.sidebarlink:active{
  color:grey;
  text-decoration: none;
}

.buffer {
  min-height:500px;
  min-width: 1100px;
}

.alt-text{
  color:white;
}

.graphs{
  float:left;
}
.figure{
  float:left;
}
.figcaption{
        float:left;
        text-align:center;
}

.thumbs{
  color: white;
  float: left;
  padding: 60px;
  width:100px;
  height:75px;
}

.thumbs2{
  color: white;
  float: left;
  padding: 60px;
  width:75px;
  height:100px;
}

body {
  font: 12px sans-serif;
}

path {
  stroke-width: 1px;
  stroke: white;
  fill: steelblue;
  cursor: pointer;
}

path:hover, path.highlighted {
  fill: #ff8000;
}
